<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>

  <connectionStrings>
    <add
			name="DatabaseContext"
			connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=MY_APPLICATION_DATABASE_UNITOFWORK;Data Source=."
			providerName="System.Data.SqlClient"
			/>

    <!--
		<add
			name="DatabaseContext"
			connectionString="Password=1234512345;Persist Security Info=True;User ID=SA;Initial Catalog=DESKTOP_USER_MANAGEMENT;Data Source=."
			providerName="System.Data.SqlClient"
			/>
		-->

    <!--
		<add
			name="DatabaseContext"
			connectionString="Data Source=|DataDirectory|\MyDatabase.sdf"
			providerName="System.Data.SqlServerCe.4.0"
			/>
		-->
  </connectionStrings>
  
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>